* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Archivo", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #262626;
}

ul {
    list-style: none;
}


ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
}

h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    width: 500px;
    overflow: auto;
    padding: 15rem 1rem;
}


#my-form {
    padding: 5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}


#my-form label {
    display: block;
}


#my-form input[type="text"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.item{
    border-radius: 5px;
    text-align: center;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #262626;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.sucess {
    display: none;
    width: 30%;
    padding: 20px;
    border: 0;
    background: #262626;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    background-color: rgb(0, 255, 21);
    border-radius: 5px;
    margin: 0 auto;
}

.error {
    display: none;
    width: 30%;
    padding: 20px;
    font-size: 1.4rem;
    text-align: center;
    border: 0;
    background: #262626;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin: 0 auto;
}

.btn:hover {
    background: #444;
}

.bg-dark {
    background: #333;
    color: #fff;
}

#label-nome {
    font-size: 0.9rem;
    color: #ff0000;
    font-weight: 200;
    font-family: "Archivo", Arial, Helvetica, sans-serif;
}

#label-email {
    font-size: 0.9rem;
    color: #ff0000;
    font-weight: 200;
    font-family: "Archivo", Arial, Helvetica, sans-serif;
}
